.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;
    text-align: center;

    button {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0095eb;
        margin-top: 0.7em;
        border-radius: 0.3em;
        border: 0;
        font-size: 1em;
        height: 3em;
        width: 12em;
        color: white;
        font-family: "Roboto", sans-serif;
        cursor: pointer;
        text-align: center;

        a {
            all: unset;
            color: white;
            padding: 1em;
            text-align: center;
            
        }

    }
}

@media (max-width: 768px) {
    .logout img {
        width: 2em;
    }
}