.aboutMeMainContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(180, 213, 238);
    padding: 0em 5em;
    margin: 2em 15em;
    padding-bottom: 5em;

    h3 {

        font-family: "parisienne";
        color: white;
        font-size: 3em;
        margin-bottom: 0.5em;
        font-weight: lighter;
        margin-bottom: 0;
    }
}

.aboutMeRows {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20em;
    margin-top: 1em;
}

.aboutMePhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 20em;
}

.photo {
    width: 15em;
    box-shadow: 0em 0em 0.5em 0.3em;
}

.aboutMeText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    width: 50%;
    padding: 0em 3em;
    height: 20em;

    p {
        margin: 1em;
    }
}

@media (max-width: 1400px) {
    .aboutMeMainContainer {
        margin: 2em 7em;
    }

    .aboutMeRows {
        height: 25em;
    }
}

@media (max-width: 1024px) {
    .aboutMeRows {
        flex-direction: column;
        height: 40em;
    }

    .aboutMeText {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .aboutMeMainContainer {
        margin: 1em 0em;
        padding: 0em 0em;
        text-align: center;
        padding-bottom: 6em;

        h3 {
            width: 100%;
            font-size: 2.5em;
            margin-bottom: 1em;
        }
    }

    .aboutMeText {
        padding: 0;
        margin: 2em;
        height: auto;
    }

    .divEmpty {
        height: 2em;
    }
}