.appWhatsapp {
    position: fixed;
    right: 1em;
    bottom: 1em;
    width: 3em;
    height: auto;
    filter: drop-shadow(0em 0em 0.4em #000);
    img {
        width: 100%;
        height: auto;
    }
}