html, body {
    background-color: white;
    height: 100%; //Para que el footer se quede abajo
}

//Para que el footer se quede abajo
body {
    margin: 0;
    padding: 0;
}

//Para que el footer se quede abajo
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F9D5D5;
    height: 6em;
    position: -webkit-sticky;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.logo {
    width: 6em;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
        img {
            width: 5em;
        }
}

.headerButtons {
    transition: 1s;
    border-radius: 0.2em;
    &:hover {
        transition: 1s;
        background-color: #D3C6C6;
    }
        a {
            all: unset;
            cursor: pointer;
            color: #816474;
            font-family: Arial, Helvetica, sans-serif;
            padding: 0.5em;
        }
}

.headerButtonOpenMenu {
    display: none;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
}

@media (max-width: 768px) {

.headerButtons {
    display: none;
}

.headerButtonOpenMenu {
    display: flex;
    position: fixed;
    right: 2em;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
        img {
            width: 2.5em;
        }
}

.headerButtonCloseMenu {
    display: flex;
    position: fixed;
    right: 2em;
    top: 1.8em;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
        img {
            width: 2.5em;
        }
}

.headerButtonsMenu {
        margin: 2em;
        background-color: #D3C6C6;
        border-radius: 0.4em;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            all: unset;
            color: rgb(255, 255, 255);
            cursor: pointer;
            font-family: Arial, Helvetica, sans-serif;
            padding: 1.5em;
        }
}

}