.mainContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(163, 207, 240);
    padding: 3em 5em;
    margin: 2em 15em;

    h3 {
        display: flex;
        justify-content: center;
        font-family: "Roboto", sans-serif;

    }

    div {
        margin-top: 0.7em;
        font-family: "Roboto", sans-serif;
    }

    input {
        padding: 0.4em;
        border: 0;
    }

    .divButton {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        button {
            all: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #0095eb;
            padding: 1em;
            margin-top: 0.7em;
            border-radius: 0.3em;
            border: 0;
            font-size: 1em;
            color: white;
            font-family: "Roboto", sans-serif;
            cursor: pointer;
        }
    }

    .loadingImage {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

@media (max-width: 1024px) {
    .mainContainer {
        margin: 2em 10em;
    }
    
}

@media (max-width: 768px) {
    .mainContainer {
        margin: auto;

        input {
            padding: 0.8em;
        }
    }

}