.mainContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(180, 213, 238);
    padding: 0em 5em;
    margin: 2em 15em;
    color: white;

    h3 {
        display: flex;
        justify-content: center;
        font-family: "parisienne";
        font-size: 3em;
        margin-bottom: 0.5em;
        font-weight: lighter;
    }

    div {
        margin-top: 0.7em;
        font-family: "Roboto", sans-serif;
    }

    input {
        padding: 0.4em;
        border: 0;
    }

    .divButton {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 2em;
        button {
            all: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #0095eb;
            padding: 1em;
            margin-top: 0.7em;
            border-radius: 0.3em;
            border: 0;
            font-size: 1em;
            color: white;
            font-family: "Roboto", sans-serif;
            cursor: pointer;
        }
    }

    .loadingImage {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

@media (max-width: 1024px) {
    .mainContainer {
        margin: 2em 10em;
        padding: 0em 2em;
    }
    
}

@media (max-width: 768px) {
    .mainContainer {
        margin: 1em 0em;
        text-align: center;

        input {
            padding: 0.8em;
        }

        h3 {
            width: 100%;
            font-size: 2.5em;
        }
    }

}