@font-face {
    font-family: "parisienne";
    src: url("../../font/Parisienne-Regular.ttf");
}

.mainContainerGallery {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(180, 213, 238);
    margin: 2em 15em;

    h3 {
        display: flex;
        justify-content: center;
        font-family: "parisienne";
        font-size: 3em;
        color: white;
        margin-bottom: 0.5em;   
        font-weight: lighter;     
    }

    input {
        padding: 0.4em;
        border: 0;
    }

}

.rows {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    :Link{
        text-decoration: none;
        border-radius: 1.5em;
        margin: 1em;
    }
}


.divs {
    background-color: rgb(0, 0, 0);
    width: 15em;
    height: 15em;
    border-radius: 1.5em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover::before{
        background-color: transparent;
        transition: 2s;
    }
}

.divs::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1.5em;
    transition: 2s;
}

.divs p {
    color: white;
    position: relative;
    font-size: 1.3em;
    font-family: cursive;
}

.divRecienNacido {
    background-image: url('http://drive.google.com/uc?export=view&id=1uf48HoSKiQ75mm6BFdrghv9pB7dqWeOf');
}

.divEmbarazos {
    background-image: url('http://drive.google.com/uc?export=view&id=1FfsqG2qqMA1g-X8VvPMoroFHKJrXgbDl');
}

.divComuniones {
    background-image: url('http://drive.google.com/uc?export=view&id=1W04Dy3zly4_2I6qZ1mBxaxvNDuC6KBuA');
}

.divCumpleaños {
    background-image: url('http://drive.google.com/uc?export=view&id=1_ae5ohQj_8ERczXijizT9JFLzyfMtcDy');
}

.divSeguimientos {
    background-image: url('http://drive.google.com/uc?export=view&id=1jyt4gQPDStSHv_3ItA7jJMvdw3Ycis4l');
}

@media (max-width: 1400px) {
    .mainContainerGallery {
        margin: 2em 12em;
    }

    .rows {
        div {
            width: 11em;
            height: 11em;
        }
    }
}

@media (max-width: 1024px) {
    .rows {
        grid-template-columns: auto auto;

        div {
            width: 9em;
            height: 9em;
        }
    }
}

@media (max-width: 768px) {
    .mainContainerGallery {
        margin: 1em 0em;

        h3 {
            width: 100%;
            font-size: 2.5em;
        }
    }

    .rows {
        grid-template-columns: auto;

        div {
            margin: 1em 0em;
            width: 20em;
            height: 20em;
        }
    }

    .divs p {     
        font-size: 1.8em;
    }
}